body {
    font-family: Arial, sans-serif;
    background-color: #ffc3da;
  }
  .question-container {
    text-align: center;
    margin-top: 50px;
  }
  .question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .btn {
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    background-color: #FF6863;
    border: solid 2px #FF6863;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px;
    margin-top: 100px;
    padding: 10px;
    line-height: 2em;
    text-decoration: none;
    min-width: 150px;
    outline: none;
  }

  .btn:hover{
    border: solid 2px white;
    cursor: pointer;
  }

  .btn.selected {
    background-color: #FF6863;
    color: white;
  }
  .answers {
    margin-top: 20px;
    margin-bottom: 20px ;
  }
  .answer {
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    background-color: transparent;
    border: solid 2px #FF6863;
    border-radius: 4px;
    color: #FF6863;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px;
    margin-top: 100px;
    padding: 10px;
    line-height: 2em;
    text-decoration: none;
    min-width: 150px;
    outline: none;
  }
  .answer:hover {
    background-color: #FF6863;
    cursor: pointer;
    color: white;
  }
  .score{
    margin-bottom: 10px;
  }

  a{
    text-decoration: none;
    color: white;
  }